@media (max-width: 1199px) and (orientation: landscape){
    html {
        font-size: 1vw;
    }

    .slide{
        .slide__head{
            width: 73.3rem;
            height: 23%;
            margin-left: 17.8rem;
            padding-left: 6rem;
            gap: 3.3rem;
            .slide__head_descr,
            .slide__head-logo_wrap{
                transform: skew(-20deg);
            }
            .slide__head_descr{
                width: 22rem;
                color: #898989;
                font-size: 1.1rem;
                text-align: right;
            }
            .slide__head-logo_wrap{
                margin-left: 0;
                width: 12.1rem;
                height: 12.1rem;
                .slide__head-logo{
                    width: 12.1rem;
                    height: 12.1rem;
                }
            }
            .slide__head-title_wrap{
                margin-left: 0;
                max-width: 48%;
                height: 7rem;
                .slide__head-title{
                    font-size: 4.8rem;
                }
            }
        }
        .slide__wrapper{
            width: 80rem;
            height: 77%;
            margin-left: 10.8rem;
            .slide__descr-wrapper-center{
                height: 40%;
                .slide__descr_wrapper{
                    margin-left: 27rem;
                    .slide__descr{
                        font-size: 2rem;
                    }
                }
            }
        }        
        .slide__switch-menu_wrap{
            top: 53.4vh;
            min-height: 32vh;
            padding-bottom: 5.9vh;
            .slide__switch-menu_border{
                height: 4.7vh;   
            }
            .slide__pic_wrapper{
                height: 92.7vh;
                left: -13rem;
                top: -46vh;
                gap: 52rem;
                z-index: 0;
                .slide__pic{
                    width: 61.2rem;
                    transform: none;
                    left: 0;
                    opacity: 0;
                }
                .slide__pic-1{
                    background-position: 0rem 8rem;
                }
                .slide__pic-2{
                    background-position: -0.5rem 3rem;
                }
                .slide__pic-3{
                    background-position: 3rem 5rem;
                    background-size: 84%;
                }
                .slide__pic-4{
                    background-position: 3rem 7rem;
                    background-size: 95%;
                }
                .slide__pic-5{
                    background-position: 3rem 4rem;
                    background-size: 87%;
                }
            }
            .slide__switch-menu{
                margin-left: 32rem;
                width: 66rem;
                margin-top: 7.65vh;
                flex-wrap: nowrap;
                gap: 4rem;
                .slide__service-logo_wrapper{
                    width: 9.5rem;
                    .slide__service-logo_container{
                        .slide__service-logo-active.slide-logo-4-active{
                            background-position-y: 0.05rem;
                        }
                        .slide__service-logo-active.slide-logo-5-active{
                            background-position-y: 0.08rem;
                        }
                    }
                    .slide__service-logo{
                        width: 6.9rem;
                        height: 6.9rem;
                    }
                }    
            }
            .slide__button{
                top: 92%;
                left: auto;   
                width: 16.9rem;
                height: 3.6rem; 
                button{
                    font-size: 1.4rem;
                }
            }
            
        }
        .slide__planet-wrapper{
            left: 20rem;
            top: 141vh;
            .slide__bg-planet{
                width: 28.8rem;
                height: 39.45vh;
            }
        }
        .slide__planet-wrapper.planet-wrapper-position-1{
            transform:  rotate(-90deg) translateY(-42rem) !important;
        }
    }
    
}
@media (max-width: 1199px) and (orientation: landscape) and (min-aspect-ratio: 8/5){

    .slide{
        min-height: 62.5rem;
        .slide__wrapper{
            padding-top: 1.875rem;
        }
        .slide__switch-menu_wrap{
            top: 33.13rem;
            min-height: 20rem;
            padding-bottom: 3.69rem;
            .slide__switch-menu_border{
                height: 2.94rem;
            }
            .slide__pic_wrapper{
                height: 57.94rem;
                top: -28.75rem;
                z-index: 0;
                .slide__pic{
                    left: 0;
                    transform: none;
                    opacity: 0;
                }
            }
            .slide__switch-menu{
                margin-top: 4.78rem;
                .slide__service-logo_wrapper{
                    gap: 0.29rem;
                }
            }
        }
        .slide__planet-wrapper{
            top: 88.13rem;
            .slide__bg-planet{
                height: 24.66rem;
            }
        }
    }
}

@media (max-width: 1199px) and (orientation: portrait){
    html {
        font-size: 1.37vw;
    }

    .slide{
        .slide__head{
            width: 62.7rem;
            height: 15%;        
            margin-left: 7.7rem;
            gap: 2rem;
            .slide__head_descr{
                width: 14rem;
            }
            .slide__head-logo_wrap{
                width: 10rem;
                height: 10rem;
                margin-left: 0;
                .slide__head-logo{
                    width: 10rem;
                    height: 10rem;
                }
            }
            .slide__head-title_wrap{
                margin-left: 0;
                height: 6rem;
                .slide__head-title{
                    font-size: 5.4rem;
                }
            }
        }
        .slide__wrapper{
            width: 74.2rem;
            height: 85%;
            margin-left: -6.3rem;
            .slide__descr-wrapper-center{
                height: 33%;
                .slide__descr_wrapper{
                    width: 33.4rem;
                    width: 32rem;
                    margin-left: 35rem;
                    .slide__descr{
                    font-size: 2.2rem;
                    }
                }
            }
        }        
        .slide__switch-menu_wrap{
            min-height: 37vh;
            top: 43.3vh;
            .slide__pic_wrapper{
                left: -19rem;
                top: -38vh;
                gap: 26rem;
                z-index: 0;
                height: 84vh;
                .slide__pic{
                    width: 66.7rem;
                    left: 0;
                    transform: none;
                    opacity: 0;
                }
                .slide__pic-1{
                    background-position: -3rem 10rem;
                    background-size: 104%;
                }
                .slide__pic-2{
                    background-position: 0rem 8rem;
                }
                .slide__pic-3{
                    background-size: 82%;
                    background-position: 2rem 13rem;
                }
                .slide__pic-4{
                    background-position: 3rem 11rem;
                    background-size: 100%;
                }
                .slide__pic-5{
                    background-size: 95%;
                    background-position: 9rem 8rem;
                }
            }
            .slide__switch-menu{
                margin-left: 45rem;
                width: 23rem;
                margin-top: 3.65vh;
                gap: 2rem 3rem;   
                .slide__service-logo_wrapper{
                    gap: 0.29rem;
                    width: 9.5rem;
                    .slide__service-logo_container{
                        .slide__service-logo-active.slide-logo-1-active{
                            background-position-y: 0.13rem;
                        }
                        .slide__service-logo-active.slide-logo-2-active{
                            background-position-y: 0.35rem;
                        }
                        .slide__service-logo-active.slide-logo-4-active{
                            background-position-y: 0.04rem;
                        }
                        .slide__service-logo-active.slide-logo-5-active{
                            background-position-y: 0.04rem;
                        }
                    }
                }
            }
            .slide__button{
                top: 94%;
                left: 41rem;
            }
            
        }
        .slide__planet-wrapper{
            display: none;
        }
    }
      
}