@media (max-width: 575px) and (orientation: portrait) {
    html{
        font-size: 2.67vw;
    }

    .slide{
        overflow-y: scroll;
        min-height: 99.4rem;
        .slide__head{
            width: 88.5%;
            height: 27%;
            margin-left: 4.7rem;
            flex-wrap: wrap;
            align-items: center;
            padding-top: 1.4rem;
            padding-left: 2rem;
            padding-bottom: 4rem;
            column-gap: 1rem;
            row-gap: 4rem;
            justify-content: center;
            .slide__head_descr{
                width: 11.7rem;
                color: #fff;
                order: 3;
                margin-right: 4rem;
                margin-left: auto;
            }
            .slide__head-logo_wrap{
                margin-left: 0;
                width: 9.5rem;
                height: 9.5rem;
                .slide__head-logo{
                    width: 9.5rem;
                    height: 9.5rem;
                }
            }
            .slide__head-title_wrap{
                margin-left: 0;
                min-width: 58%;
                height: 5rem;
                .slide__head-title{
                    font-size: 4rem;
                }
            }
        }
        .slide__wrapper{
            width: 100%;
            height: 73%;
            margin-left: 0;
            clip-path: polygon(0% 40%,35% 0%,100% 0%,100% 100%,0% 100%);
            transform: none;
            .slide__descr-wrapper-center{
                height: 39%;
                .slide__descr_wrapper{
                    transform: none;
                    width: 43%;
                    margin-left: 55%;
                    .slide__descr{
                        font-size: 1.53rem;
                    }
                }
            }
        }
        .slide__wrapper-1{
            background: linear-gradient(14deg, #ED672E -0.03%, #58002A 110.48%);
        }
        .slide__wrapper-2{
            background: linear-gradient(14deg, #ED672E -0.03%, #65007E 110.48%);
        }
        .slide__wrapper-3{
            background: linear-gradient(14deg, #ED672E -0.03%, #008088 110.48%);
        }
        .slide__wrapper-4{
            background: linear-gradient(14deg, #ED672E -0.03%, #C7974F 110.48%);
        }
        .slide__wrapper-5{
            background: linear-gradient(14deg, #ED672E -0.03%, #002958 110.48%);
        }
        
        .slide__switch-menu_wrap{
            top: 55.2rem;
            min-height: 36rem;
            padding-bottom: 5rem;
            .slide__switch-menu_border{
                width: 100%;
                height: 3.5rem;   
            }
            .slide__pic_wrapper{
                height: 45.2rem;
                left: -15rem;
                top: -45.2rem;
                gap: 52rem;
                .slide__pic{
                    width: 43.6rem;
                    transform: perspective(10rem) translateZ(-6rem) translateX(260rem);
                }
                .slide__pic-1{
                    background-position: 0 3rem;
                } 
                .slide__pic-2{
                    background-position: 2rem 1rem;
                    background-size: 95%;
                }
                .slide__pic-3{
                    background-position: 1.4rem 2rem;
                }
                .slide__pic-4{
                    background-position: 3.5rem 1rem;
                    background-size: 100%;
                }
                .slide__pic-5{
                    background-position: 4rem 0rem;
                }
            }
            .slide__switch-menu{
                margin-left: 0;
                width: 36.5rem;
                margin: 0 auto;
                margin-top: 5.7rem;
                gap: 3.7rem 3rem;
                .slide__service-logo_wrapper{
                    gap: 1rem;
                    .slide__service-logo{
                        width: 6.9rem;
                        height: 6.9rem;
                    }
                }      
            }
            .slide__button{
                top: 93%;
                left: 50%;
                transform: skew(-20deg) translateX(-50%);
                width: 75%;
            }
            
        }
    }    
}