<section class="slide">
    <div class="slide__head flex --align-center">
        <div class="slide__head_descr">
            Проект DUGWAP работает в приватном режиме.
            Советуем ознакомиться с другими нашими проектами.
        </div>
        <div class="slide__head-logo_wrap flex">
            <div class="slide__head-logo slide__head-logo-1 --svg__slide-head-logo-1 show-logo"></div>
        </div>
        <div class="slide__head-title_wrap flex">
            <div class="slide__head-title slide__head_title-1">DugWap</div>
        </div>
    </div>
    <div class="slide__wrapper slide__wrapper-1">
        <div class="slide__descr_wrapper flex">
            <div class="slide__descr slide__descr-1">
                Регистрация на проекте более не производится. 
                А если вам интересен wapclick и всё, что с ним связано - ждём вас в Juddy! 
                А за трафиком - заходите в Buymedia!
            </div>
        </div>
    </div>
    <div class="slide__switch-menu_wrap">
        <div class="slide__switch-menu_border --svg__border"></div>
        <div class="slide__pic_wrapper flex">
            <div class="slide__pic slide__pic-1"></div>
        </div>
        <div class="slide__switch-menu">
            <div class="slide__switch-menu_click-blocker hide"></div>
            <div class="slide__service-logo_wrapper" data-number="1">
                <svg class="slide__service-logo">
                    <use xlink:href="img/sprite.svg#css--slide-logos--slide-logo-1"/>
                </svg>
                <div class="slide__service-name">dugwap</div>
            </div>
            <div class="slide__service-logo_wrapper" data-number="2">
                <svg class="slide__service-logo">
                    <use xlink:href="img/sprite.svg#css--slide-logos--slide-logo-2"/>
                </svg>
                <div class="slide__service-name">juddy.biz</div>
            </div>
            <div class="slide__service-logo_wrapper" data-number="3">
                <svg class="slide__service-logo">
                    <use xlink:href="img/sprite.svg#css--slide-logos--slide-logo-3"/>
                </svg>
                <div class="slide__service-name">buymedia</div>
            </div>
            <div class="slide__service-logo_wrapper" data-number="4">
                <svg class="slide__service-logo">
                    <use xlink:href="img/sprite.svg#css--slide-logos--slide-logo-4"/>
                </svg>
                <div class="slide__service-name">wmplayer</div>
            </div>
            <div class="slide__service-logo_wrapper" data-number="5">
                <svg class="slide__service-logo">
                    <use xlink:href="img/sprite.svg#css--slide-logos--slide-logo-5"/>
                </svg>
                <div class="slide__service-name">pushads</div>
            </div>
        </div>  
        <a href="#" class="slide__button">
            <button>На сайт проекта</button>
        </a>      
    </div>
    <div class="slide__bg-planet"></div>
</section>