*,
*::before,
*::after {
	box-sizing: border-box;
}

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-center {
	justify-content: center;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}

.--dir-col {
	flex-direction: column;
}

html {
	font-size: .52vw;
	font-family: 'Raleway', sans-serif;
	color: #fff;
}

svg{
	width: 0;
	height: 0;
}

html,
body {
	min-height: 100%;
	position: relative;
}

body {
	font-size: 1rem;
	height: 100vh;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

.add-opacity{
	transition: .3s linear;
	opacity: 0;
}

.remove-opacity{
	transition: .3s linear;
	opacity: 1;
}

.hide{
	display: none;
}

.show{
	display: block;
}

.mini-pic{
	transform: perspective(100rem) translateZ(-50rem);
}

.transition-2s{
	transition: 2s ease;
}



.hide-title{
	transition: 1s ease;
	transform: translateX(20rem);
	opacity: 0;	
}

.show-title{
	transition: 1s ease;
	opacity: 1;	
}

.translate-new-title{
	transform: translateX(-20rem);
}



.hide-logo{
	opacity: 0 !important;
	transition: 1s linear;
}

.show-logo{
	opacity: 1 !important;
	transition: 1s linear;
}

